<form class="layui-form layui-card" action="{:request()->url()}" data-auto="true" method="post" autocomplete="off">

    <div class="layui-card-body">

        <div class="layui-form-item">
            <label class="layui-form-label label-required-next">上级数据字典</label>
            <div class="layui-input-block">
                <select name='pid' class='layui-select' lay-search>
                    {foreach $dicts as $dict}{eq name='dict.id' value='$vo.pid|default=0'}
                    <option selected value='{$dict.id}'>{$dict.spl|raw}{$dict.title}</option>
                    {else}
                    <option value='{$dict.id}'>{$dict.spl|raw}{$dict.title}</option>
                    {/eq}{/foreach}
                </select>
                <p class="help-block"><b>必选</b>，请选择上级数据字典或顶级数据字典（目前最多支持三级数据字典）</p>
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">数据字典名称</label>
            <div class="layui-input-block">
                <input name="title" value='{$vo.title|default=""}' required placeholder="请输入数据字典名称" class="layui-input">
                <p class="help-block"><b>必选</b>，请填写数据字典名称（如：系统管理），建议字符不要太长，一般4-6个汉字</p>
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">数据字典图标</label>
            <div class="layui-input-block">
                <div class="layui-input-inline">
                    <input placeholder="请输入或选择图标" name="icon" value='{$vo.icon|default=""}' class="layui-input">
                </div>
                <span style="padding:0 12px;min-width:45px" class='layui-btn layui-btn-primary'>
                    <i style="font-size:1.2em;margin:0;float:none" class='{$vo.icon|default=""}'></i>
                </span>
                <button data-icon='icon' type='button' class='layui-btn layui-btn-primary'>选择图标</button>
                <p class="help-block">可选，设置数据字典选项前置图标，目前只支持 Font Awesome 5.2.0 字体图标</p>
            </div>
        </div>

    </div>

    <div class="hr-line-dashed"></div>
    {notempty name='vo.id'}<input type='hidden' value='{$vo.id}' name='id'>{/notempty}

    <div class="layui-form-item text-center">
        <button class="layui-btn" type='submit'>保存数据</button>
        <button class="layui-btn layui-btn-danger" type='button' data-confirm="确定要取消编辑吗？" data-close>取消编辑</button>
    </div>
</form>

{block name='script'}
<script>
    layui.form.render();
    require(['jquery.autocompleter'], function () {
        $('[name="icon"]').on('change', function () {
            $(this).parent().next().find('i').get(0).className = this.value
        });
    });
</script>
{/block}
