{extend name='main'}

{block name="button"}

{/block}

{block name="content"}
<div class="think-box-shadow">
    {empty name='list'}
    <blockquote class="layui-elem-quote">没 有 记 录 哦！</blockquote>
    {else}

    <!--表格按钮-->
    <blockquote class="layui-elem-quote">
        <!--{if auth("add")}-->
        <button data-modal='{:url("add")}' data-title="添加组织机构" class='layui-btn layui-btn-sm'>添加</button>
        <!--{/if}-->

        <!--{if auth("remove")}-->
        <button data-action='{:url("remove")}' data-csrf="{:systoken('remove')}" data-rule="id#{key}"
            class='layui-btn layui-btn-sm'>删除</button>
        <!--{/if}-->

        <button type="button" data-reload class="layui-btn layui-btn-sm">刷新</button>
    </blockquote>

    <!--表格按钮-->

    <table class="layui-table" lay-skin="line">
        <thead>
            <tr>
                <th class='list-table-check-td think-checkbox' style="width:5%">
                    <label><input data-auto-none data-check-target='.list-check-box' type='checkbox'></label>
                </th>
                <th class='list-table-sort-td' style="width:8%">排序
                </th>
                <th class='text-center' style="width:8%">图标</th>
                <th style="width:100%">组织机构</th>
                <th class='text-center layui-hide-xs' style="width:8%">状态</th>
                <th class='text-center layui-hide-xs' style="width:15%">操作</th>
            </tr>
        </thead>
        <tbody>
            {foreach $list as $key=>$vo}
            <tr data-dbclick>
                <td class='list-table-check-td think-checkbox'>
                    <label><input class="list-check-box" value='{$vo.ids}' type='checkbox'></label>
                </td>
                <td class='list-table-sort-td'>
                    <input data-action-blur="{:request()->url()}" data-value="id#{$vo.id};action#sort;sort#{value}"
                        data-loading="false" value="{$vo.sort}" class="list-sort-input">
                </td>
                <td class='text-center'><i class="{$vo.icon} font-s18"></i></td>
                <td class="nowrap"><span class="color-desc">{$vo.spl|raw}</span>{$vo.title}</td>
                <td class='text-center nowrap'>{eq name='vo.status' value='0'}<span
                        class="color-red">已禁用</span>{else}<span class="color-green">已激活</span>{/eq}</td>
                <td class='text-center nowrap notselect'>
                    {if auth("add")}
                    <!--{if $vo.spt < 3}-->
                    <a class="layui-btn layui-btn-xs layui-btn-primary" data-title="添加子组织机构"
                        data-modal='{:url("add")}?pid={$vo.id}'>添 加</a>
                    <!--{else}-->
                    <a class="layui-btn layui-btn-xs layui-btn-disabled">添 加</a>
                    <!--{/if}-->
                    {/if}
                    <!--{if auth("edit")}-->
                    <a data-dbclick class="layui-btn layui-btn-xs" data-title="编辑组织机构"
                        data-modal='{:url("edit")}?id={$vo.id}'>编 辑</a>
                    <!--{/if}-->
                    <!--{if $vo.status eq 1 and auth("state")}-->
                    <a class="layui-btn layui-btn-warm layui-btn-xs" data-confirm="确定要禁用组织机构吗？"
                        data-action="{:url('state')}" data-value="id#{$vo.ids};status#0"
                        data-csrf="{:systoken('state')}">禁 用</a>
                    <!--{/if}-->
                    <!--{if $vo.status eq 0 and auth("state")}-->
                    <a class="layui-btn layui-btn-warm layui-btn-xs" data-action="{:url('state')}"
                        data-value="id#{$vo.ids};status#1" data-csrf="{:systoken('state')}">激 活</a>
                    <!--{/if}-->
                    <!--{if auth("remove")}-->
                    <a class="layui-btn layui-btn-danger layui-btn-xs" data-confirm="确定要删除数据吗?"
                        data-action="{:url('remove')}" data-value="id#{$vo.ids}" data-csrf="{:systoken('remove')}">删
                        除</a>
                    <!--{/if}-->
                </td>
            </tr>
            {/foreach}
        </tbody>
    </table>
    {/empty}
</div>
{/block}